@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  .gradient-left-right {
    mask-image: radial-gradient(ellipse 99% 1000% at 50% 50%, black 40%, transparent 50%);
    -webkit-mask-image: radial-gradient(ellipse 99% 1000% at 50% 50%, black 40%, transparent 50%);
  }

  .poppins-thin {
    font-family: 'Poppins', serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-extralight {
    font-family: 'Poppins', serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-light {
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-regular {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-family: 'Poppins', serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-black {
    font-family: 'Poppins', serif;
    font-weight: 900;
    font-style: normal;
  }

  .font-outline {
    -webkit-text-stroke: 1px black;
  }

  .font-outline-2 {
    -webkit-text-stroke: 1.5px black;
  }
}
